*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-image: linear-gradient(to right, #887385 , #C48594, #F69D89, #FFC474, #F9F871 );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    margin: 100px 0px 100px 0px;
    background-color: #5E5E5E;
    padding: 50px;
    border-radius: 8px;
    border: 3px solid #00C896;
    font-family: 'Cairo', sans-serif;
}

.content h1 {
   
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #F2ECFF;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu a {
    text-decoration: none;
    background-color:  #00C896;
    font-weight: 700;
    text-align: center;
    color: #5E5E5E;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    width: 100%;
}

.voltar a {
    text-decoration: none;
    background-color:  #00C896;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #5E5E5E;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 8px;
    border: 3px solid #5E5E5E;
}